@mixin clearfix {
    display: table; clear: both; content: '';
}

@mixin flex($direction, $justify, $align) {
    display: flex; flex-direction: $direction;
    justify-content: $justify; align-items: $align;
}

@mixin flexbox($direction: row, $justify: center, $align: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: nowrap;
}

@mixin posAbs($top, $right, $left, $btm) {
    position: absolute;
    top: $top; right: $right; left: $left; bottom: $btm;
}
