// font
$fontFamily: 'Open Sans', sans-serif;
$fontFamilyCond: 'Open Sans Condensed', sans-serif;
$fontSize: 10px;

// spacing
$spacing: 10px;

// color
$brandPr: #00a9d9;
$brandPrCol: #fff;

$primaryBg: #fff;
$primaryCol: #464646;

// btn
$btnPr: rgba(0, 0, 0, 0.3);
$btnHover: #252525;
$btnPrText: #fff;

// HTML
$headerH: 115px;

$footerBG: #303030;
