// font
$fontFamily: 'Open Sans', sans-serif;
$fontFamilyCond: 'Open Sans Condensed', sans-serif;
$fontSize: 10px;

// spacing
$spacing: 10px;

// color
$brandPr: #00a9d9;
$brandPrCol: #fff;

$primaryBg: #fff;
$primaryCol: #464646;
$primaryTitCol: #003f5e;

$priceBG: #55ba59;
$priceCol: #fff;
$priceBorCol: #357739;

$comicsBGsec: #f6f6f6;
$comicsCol: #3f3f3f;
$comicsTitCol: #003f5e;
$comicsBor: #e3e3e3;

// btn
$btnPr: rgba(0, 0, 0, 0.3);
$btnHover: #252525;
$btnPrText: #fff;

// HTML
$headerH: 115px;

$footerBG: #303030;
$footerCol: #959595;

$sectionDarkBG: #1C1C1C;

$secComicsLogo: 37px; // icon logo of services dc dimension (width and height)
